Goal: Create an easy to use, open source, collaborative map making system to help share important event-based geolocational information for relevant communities of users. I.E.: a map of certain area of town detailing the time and type of crimes committed to provide the community with improved situational awareness.


1. create and save maps based on coordinates

2. view a list of my saved maps

3. create types of events for each map (i.e. armed robbery, assault)

4. create custom markers for each type of event to provide quick high level information on events and location

5. create instances of events with time/date, description, and coordinates

6. create reports based on date/time and type of events

7. share maps and reports with other users
